competition353_ws/build/*
competition353_ws/devel/*
competition353_ws/.catkin_workspace
competition353_ws/src/CMakeLists.txt
competition_gym_gazebo_ws/gym_gazebo/envs/enph353/build/*
competition_gym_gazebo_ws/gym_gazebo/envs/enph353/devel/*
competition_gym_gazebo_ws/gym_gazebo/envs/enph353/.catkin_workspace
competition_gym_gazebo_ws/gym_gazebo/envs/enph353/QValues
competition_gym_gazebo_ws/gym_gazebo/envs/enph353/src/CMakeLists.txt
convolutionNN_ws/.catkin_workspace
convolutionNN_ws/build/*
convolutionNN_ws/devel/*
convolutionNN_ws/src/CMakeLists.txt

